*{
	margin: 0;
	padding: 0;
}

.main{ 
	margin: auto;
	padding-top: 20px;
	padding-bottom: 25px;

}
.main #main{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
#main .anhto{
	padding-right:30px;
	float: left;
}
#main .anhnho .anhphainho1{
	margin-bottom:19px;

}
#main .anhnho .anhphainho1 p{
	position: absolute;
	z-index: 1;
	padding: 5px 10px;
	background: #000;

	font-size: 12px;
	font-family: tahoma;
	text-align: center;
	line-height: 20px;
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
}
#main .anhnho .anhphainho2 p{
	position: absolute;
	z-index: 1;
	padding: 5px 10px;
	background: #000;
	color: #fff;
	font-size: 12px;
	font-family: tahoma;
	text-align: center;
	line-height: 20px;
	text-transform: uppercase;
}
#main .anhnho .anhphainho2 p a{
	text-decoration: none;
	color: #fff;
}
#main .anhnho .anhphainho1 p a{
	text-decoration: none;
	color: #fff;
}
#main1{
	max-width: 1170px;
	margin: auto;
	padding-bottom:25px;
}
#main1 .tieude p {
	background-image:url("images/banhang/NOITHATNHUA1_33.png");
	background-repeat: no-repeat;
	height: 40px;
	font-size: 18px;
	font-family: Tahoma;
	line-height: 40px;
	text-transform: uppercase;
	padding-left:12px;
	background-color: #efeeee;

}
#main1 .tieude p a{
	text-decoration: none;
	color: #FFF;
}
.bonanhnho{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.p1 {
	font-family: Tahoma;

	text-transform: uppercase;
	font-size: 14px;
	padding-bottom:15px;

}
.p1 a{
	color: #286992;
	text-decoration: none;
	font-weight: bold;
}
.p2 {
	font-family: Tahoma;

	text-transform: uppercase;
	font-size: 14px;

}
.p2 {	color: #880114;
	text-decoration: none;
	font-weight: bold;
	padding-bottom:15px;
}
.p2  span{
	font-family: Tahoma;
	text-transform: uppercase;
	font-size: 14px;
	color : #464141;
	text-decoration: line-through;
	font-weight: Regular;
}
.a{
	background-image: url(images/);
}
#main1 .bonanhnho a img{
	padding-bottom:15px;
	padding-top:15px;
}
#main2{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	padding-bottom:25px;
}
#main2 div p{
	position: absolute;

	z-index: 1;
	padding: 5px 10px;

	color: #fff;
	font-size: 22.58px;
	font-family: tahoma;
	text-align: center;
	line-height: 50px;
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	padding: 95px 220px;
}
#main3 .main31{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	padding-bottom:25px;
}
#main3 .main31{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	padding-bottom:25px;
}
.tieude p{
	background-image:url("images/banhang/NOITHATNHUA1_33.png");
	background-repeat: no-repeat;
	height: 40px;
	font-size: 18px;
	font-family: Tahoma;
	line-height: 40px;
	text-transform: uppercase;
	padding-left:12px;
	background-color: #efeeee;
}
.tieude p a{
	text-decoration: none;
	color: #FFF;
}
.bonanhnhocuoi{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	padding-bottom:30px;
	padding-top:25px;
}
.bonanhnhocuoi p{
	font-family: Tahoma;
	
	font-size: 13.13px;
}
.bonanhnhocuoi p a{
	text-decoration: none;
	color: #000;

}
footer {

	overflow: hidden;
	background: #000;
}
footer .ft{
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	margin: auto;
}
footer .ft1 p{
	font-family: Tahoma;
	
	font-size: 14px;
	color: #fff;
	padding: 
}
footer .ft1{
	padding: 30px 50px 80px 100px;
}
footer .ft2{
	padding: 30px 65px 115px;
}
footer .ft3{
	padding: 30px 0px 70px;
}
footer .ft2 p span{
	font-family: Tahoma;
	
	font-size: 16px;
	color: #286992;
	font-weight: bold;
	padding-bottom: 30px;

}
footer .ft3 .p span{
	font-family: Tahoma;
	
	font-size: 16px;
	color: #286992;
	font-weight: bold;
	

}
footer .ft3 .p{
	padding-bottom: 30px;
}
footer .ft2 p{
	font-family: Tahoma;
	
	font-size: 14px;
	color: #fff;
}
footer .ft3 p{
	font-family: Tahoma;
	
	font-size: 14px;
	color: #fff;
}


