
@font-face {
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Black";
    src: url("fonts/Roboto-Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-LightItalic";
    src: url("fonts/Roboto-LightItalic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: "OPENSANS-BOLD";
    src: url("../../../fonts/OPENSANS-BOLD.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OPENSANS-BOLDITALIC";
    src: url("../../../fonts/OPENSANS-BOLDITALIC.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OPENSANS-EXTRABOLD";
    src: url("../../../fonts/OPENSANS-EXTRABOLD.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OPENSANS-EXTRABOLDITALIC";
    src: url("../../../fonts/OPENSANS-EXTRABOLDITALIC.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OPENSANS-ITALIC";
    src: url("../../../fonts/OPENSANS-ITALIC.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OPENSANS-LIGHT";
    src: url("../../../fonts/OPENSANS-LIGHT.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OPENSANS-LIGHTITALIC";
    src: url("../../../fonts/OPENSANS-LIGHTITALIC.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OPENSANS-REGULAR";
    src: url("../../../fonts/OPENSANS-REGULAR.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OPENSANS-SEMIBOLD";
    src: url("../../../fonts/OPENSANS-SEMIBOLD.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OPENSANS-SEMIBOLDITALIC";
    src: url("../../../fonts/OPENSANS-SEMIBOLDITALIC.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UTM TIMES_0";
    src: url("../../../fonts/UTM TIMES_0.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UTM TIMESITALIC";
    src: url("../../../fonts/UTM TIMESITALIC.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UTMTIMESBOLD ITALIC";
    src: url("../../../fonts/UTMTIMESBOLD ITALIC.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UTMTIMESBOLD";
    src: url("../../../fonts/UTMTIMESBOLD.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}