.section_2 { 
	display: flex;
	flex-wrap: wrap; 
	width: 100%;
	height: 600px;
}
@media only screen and (max-width: 1024px) {
	.section_2 { height: 750px !important;
	} 
}
@media only screen and (max-width: 768px) { 
	.section_2 { 
		height: auto !important; 
	} 
}
.section_2 .left {
	position: relative; 
	background-color: #0f6939; 
	padding-top: 90px; 
	width: 35.702782%;
	padding-right: 2.2942898975%; 
	text-align: justify; 
	padding-left: 6.8081991215%; 
}
.section_2 .left::before {
	content: ''; 
	background-image: url(images/nguyen/bgr-ss2.png);
	width: 420px; height: 262px; background-repeat: no-repeat;
	right: 0; position: absolute; bottom: 0px; opacity: 0.2; 
}
@media only screen and (max-width: 1024px) {
	.section_2 .left {
		padding-right: 30px; padding-left: 30px;
	}
}
@media only screen and (max-width: 768px) {
	.section_2 .left {
		width: 100%; height: auto !important;
		padding-top: 35px; padding-bottom: 35px; 
	} 
}
@media only screen and (max-width: 480px) {
	.section_2 .left {
		padding-right: 15px; padding-left: 15px;
	} 
}
.section_2 .left ._title {
	color: #fff; 
	font-size: 60px;
	padding-bottom: 25px; 
}
.section_2 .left .tab-menu-block {
	display: flex; align-items: center;
	padding-bottom: 30px;
}
.section_2 .left .tab-menu-block p { 
	padding: 0 5px; color: #fff; 
	transform: translate(0%, -12%); 
}
.section_2 .left .tab-menu-block a {
	padding-left: 10px; 
	font-family: "SOURCESANSPRO-REGULAR"; 
	color: #fff;
	text-transform: uppercase;
	font-size: 16px; opacity: 0.7; 
	position: relative;
}
.section_2 .left .tab-menu-block a:nth-of-type(1) {
	padding-right: 11px; padding-left: 0px;
}
.section_2 .left .tab-menu-block a:nth-of-type(1):before {
	content: ''; 
	background: #fff; width: 1px; 
	height: 17px; right: 0;
	position: absolute; 
	bottom: 50%; transform: translate(0, 50%);
}
.section_2 .left .tab-menu-block .is-active { 
	opacity: 1; 
}
.section_2 .left .content .tab-left { 
	position: relative; 
}
.section_2 .left .content .tab-left ._see_more {
	margin-top: 0px; color: #fff; 
}
.section_2 .left .content .tab-left p {
	color: #fff; padding-bottom: 20px;
}
.section_2 .left .content .tab-right { 
	position: relative; 
}
.section_2 .left .content .tab-right ._see_more {
	margin-top: 0px; 
}
.section_2 .left .content .tab-right p { 
	color: #fff; padding-bottom: 20px;
}
.section_2 .right {
	position: relative; 
	background-position: center; 
	width: 47.297218%;
	background-size: cover;
	background-repeat: no-repeat; 
	height: 100%; padding: 38px 45px;
}
@media only screen and (max-width: 768px) {
	.section_2 .right {
		width: 100%; height: 500px !important;
	} 
}
@media only screen and (max-width: 480px) {
	.section_2 .right {
		height: 300px !important; padding: 15px;
	}
}
.section_2 .right::after { 
	content: ''; background: #8bc541; 
	width: 100%; height: 100%; 
	background-repeat: no-repeat; 
	left: 0; position: absolute; 
	bottom: 0px; opacity: 0.7; 
}
.section_2 .right .img {
	z-index: 100; position: relative;
	background-position: center;
	width: 100%; background-size: cover; 
	background-repeat: no-repeat; height: 100%;
}
._see_more { 
	display: inline-block; width: 120px; 
	height: 38px; 
	background-color: #8bc541; 
	border-radius: 4px; 
	text-align: center; 
	line-height: 38px; 
	text-transform: uppercase;
	font-family: "UTM AvoBold";
	margin-top: 30px; 
	font-size: 12px;
	background-image: url("images/banv/see_more.png"); 
	background-position: left top;
	background-size: 70% 100%;
	background-repeat: no-repeat;
	color: #ffffff; position: relative;
	z-index: 1; position: relative;
	overflow: hidden;
}
._see_more::after {
	content: "";
	width: 100%; height: 100%;
	position: absolute; 
	width: 110%;
	height: 110%;
	background: rgba(255, 255, 255, 0.5);
	transition: all .5s ease;
	transform: rotate(45deg) translate3d(0px, -290%, 0); 
}
._see_more:hover::after {
	transform: rotate(45deg) translate3d(-97px, 390%, 0); 
}
