a,h3,h2,h1,p{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
{
	margin: 0;
	padding: 0;
}
body{
	padding: 0;
	margin: 0;
}
/*header*/
header {
	background:  #126338d6;
	opacity: 0.7;
	position: fixed;
	z-index: 999;
	width: 100%;
	display: block;
	height: 130px;
	transition: height .5s, line-height .5s;
}
.scrolled-header {
	height: 90px !important;
	background:  #126338d6;
	opacity: 0.8;

}
.scrolled-logo{
	position: absolute!important;
	left: 10% !important;
	top: 50% !important;
	transform: translate(-50%, -50%) !important;
	transition: all .4s ease-in-out !important;
}
.scrolled-nav-header {
	position: initial !important;
	height: 50px!important;
	align-items: center!important;
	transition: all .5s!important;
}
.scrolled-header-top{
	border-bottom:none!important;
	transition: all .5s!important;
}
@media only screen and (max-width: 1024px) {
	.scrolled-header {
		display:none;
	}
}
header .header-top {
	margin: 0 45px;
	height: 80px;
	/* padding: 23px 0px 23px; */
	border-bottom: 1px solid #fff;
	position: relative;
	text-align: right;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	transition: all .5s;
}
header .header-top .logo {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
	transition: all .5s;
	font-family: "UTMTIMESBOLD";
	font-size: 48px;
	background-image: -webkit-linear-gradient(top, #a98604 0, #e2a233 38%, #f0c328 60%, #bba31d 86%, #927c12 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-bottom: 0;
	text-transform: uppercase;						
}
header .header-top .icon {
	margin-top: 14px;
}
header .header-top .icon .link {
	/* width: 50%; */
	/* display: flex; */
	/* padding-right: 20px; */
	float: left;
	margin-right: 20px;
}
header .header-top .icon .link a {
	/* display: flex; */
	padding-right: 5px;
	color: #FFF;
	display: inline-block;
	text-transform: uppercase;
}
header .header-top .icon .link a:hover{
	color: #9aa2af;
}
header .header-top .icon .font-awesome{
	display: flex;
	float: left;
}
header .header-top .icon .font-awesome .seach {
	padding: 0 20px 0 0;
	/* margin: 0px; */
	/* width: 50%; */
	color: #FFF;
	display: inline-block;

}
form{
	margin: 0;
}
/* placeholder */
input:-moz-placeholder {
	color: #000;
	margin: 0;
}
input::-webkit-input-placeholder {
	color: #000;
	margin: 0;
}	
/* search input field */
input[type=search] {
	margin: 0;
	background: #ededed url(search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 200px;
	background-color: #126338d6;
	border-color: #6dcff6;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; /* remove the search and cancel icon */
}

.seach-active{

}
header .header-top .icon .font-awesome .seach:nth-of-type(1):before{
	content:none;
}
header .header-top .icon .font-awesome a:before{
	content: " ";
	position: absolute;
	background: #9aa2af;
	width: 1px;
	height: 15px;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
}


header .header-top .icon .font-awesome .seach:before{
	content:none;
}
header .header-top .icon .font-awesome a{
	margin:0px;
	position: relative;
	padding-left: 20px;
	color: #FFF;
	text-transform:uppercase;
}
header .nav-header{
	position: relative;
	height: 50px;
	align-items: center;
	transition: all .5s;
}
header .nav-header ul{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding-left:0px;
	
}
header .nav-header ul li{
	padding-right: 34px;
	display: inline-block;
	
	color: #fff;
	font-family: "Roboto-Bold";
	font-size: 15px;
	text-transform: uppercase;

}
@media only screen and (max-width: 1440px) {
	header .nav-header ul li{

		font-size: 13px;
		padding-right: 24px;
	}
}
header .nav-header ul li a{
	color: #FFF;
	text-decoration: none;
	padding-bottom: 16px;
}
header .nav-header ul li :hover{
	color: #f5c627;
	border-bottom: 1px solid  #f5c627;
}
.header-mobile{
	display: none;
}
.hamburger-block{
	display: none;
}
/*hết header*/
.menu-mobile-active{
	opacity: 0;
}

#swiper-baner{
	width: 100%;
}
main{
	overflow: hidden;
}

main .baner .swiper-pagination-bullets {
	position: absolute;
	bottom:7.8125% ;
	/* left: 22px; */
	color: red;
	left: auto;
	right: 3.514%;
	width: 5%;
}
main .baner .swiper-pagination-bullet-active{
	background:#f5c627;
} 

main .baner {
	position: relative;
}
main .baner #swiper-baner .swiper-wrapper .swiper-slide{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
body .baner .content-baner{
	position: absolute;
	z-index: 2;
	margin: 0 7.174%;
	padding-left:35px;
	bottom:7.8125% ;
}
body .baner .content-baner:before{
	content:"";
	background: #f5c627;
	width: 4px;
	height: 57px;
	position: absolute;
	top:5%;
	left: 0;
}
body .baner .content-baner p{
	color: #fff;
	font-size: 14px;
	font-family: "Roboto-Regular";
}
body .baner .content-baner h3{
	color: #fff;
	font-size: 40px;
	font-family: "Roboto-Light";
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
body .baner .content-baner .more a{
	text-decoration: none;
	color: #fff;
	
	font-size: 14px;
	font-family: "Roboto-Light";
	padding-left:45px;
	text-transform: uppercase;
}
body .baner .content-baner .more{
	position: relative;
}
body .baner .content-baner .more a:before{
	content:"";
	background: #FFF;
	width: 35px;
	height: 2px;
	position: absolute;
	bottom:50%;
	left:0;
	transform: translateY(-50%);
}
main .intro{
	margin: 0px 7.174%;
	padding-bottom: 45px;
	position: relative;
}
main .intro:after{
	content: '';
	position: absolute;
	background-image: url(images/Untitledasdasd-2.png);
	background-position: right;
	background-size: cover;
	top: -93px;
	right: -99px;
	width: 590px;
	height: 622px;
	z-index: -1;

}
main .intro .content{
	display: flex;
	flex-wrap: wrap;
}
main .intro .content img{
	width: 100%;
	height: auto;
}
main .intro .title {
	text-align: center;
	padding-top: 39px;
	padding-bottom:36px;
}
main .intro .title h3{
	font-family: "Roboto-Bold";
	font-size: 30px;
	padding-bottom:15px;
	margin: 0px;
	text-transform: uppercase;
}
main .intro .title p{
	font-family: "Roboto-LightItalic";
	font-size: 20px;
	
}
main .intro .content-left{
	width: calc(( 100% - 50px) / 2);
	margin-right:50px;
}
main .intro .content-right{
	width: calc(( 100% - 50px) / 2);
}
main .intro .content-right .content-right-top{
	padding-top: 44px;
	font-family: "Roboto-Regular";
	font-size: 14px;
}
main .intro .content-right .content-right-mid{
	padding-top: 33px;
	font-family: "Roboto-Regular";
	font-size: 14px;
	padding-bottom: 39px;
}
main .intro .content-right .content-right-bot p{
	
	font-family: "Roboto-LightItalic";
	font-size: 14px;
}
main .intro .content-right .content-right-bot{
	position: relative;
	padding-left: 30px;
}
main .intro .content-right .content-right-bot p:before {
	content: "";
	background: #777;
	width: 1px;
	height: 57px;
	position: absolute;
	top: 0px;
	left: 0;
}
main .intro .content-right .content-right-bot a {
	color: #337ab7;
	text-decoration: none;
	padding-left: 50px;
	position: relative;
	/* margin-left: 20px; */
	text-transform: uppercase;
}
main .intro .content-right .content-right-bot a:before{
	content: "";
	/* background: #FFF; */
	width: 30px;
	height: 1px;
	position: absolute;
	bottom:50%;
	left: 0;
	background: red;
	transform: translateY(-50%);

}
#swiper-intro{
	width: 100%;
	height: 100%;
}
main .intro .swiper-pagination-bullet-active{
	background:#FFF;
}
.swiper-pagination-bullet {
	margin: 0 4px;
}
main .prize{
	background:#173156;
	position: relative;

}
main .prize #container{
	padding:19px 98px 45px;
	margin:0px;
	width: 100%;
}
main .prize p{
	color: #fff;
}
main .prize i{
	color: #fff;
}
main .prize .title h3{
	font-family: "Roboto-Bold";
	font-size: 30px;
	
	text-align: center;
	color: #ffF;
	margin:0px;
	padding-bottom: 35px;
	text-transform: uppercase;
}
main .prize #container:nth-of-type(3n){
	margin:0px;
}
main .prize #container .bot{
	display: flex;
	flex-wrap: wrap;
}
main .prize #container .content-left{
	width: calc((100% - 16px) / 2);
	margin-right:16px;
	height: 128px;
}
main .prize .img{
	text-align: center;
	position: relative;
	overflow: hidden;
}
main .prize .content .img img{
	width: 100%;
}
main .prize  .img:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #122846;
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition-property: all;
	transition-duration: 1s, .3s;
}
main .prize .img:hover:before{
	opacity: 1;
	opacity: 0.7;
	transition-property: all;
	transition-duration: 1s, .3s;

}
main .prize  .seach{
	position: absolute;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	opacity: 0;
	transition: width 2s, height 2s, transform 2s;
	top: 50%;
	left: 50%;
}
main .prize .img:hover .seach{
	opacity: 1;
	transform: translate(-50%,-50%) rotate(-360deg);
}
main .prize  .seach i{
	font-size:23px;
}
main .prize  .seach p{
	display: none;
}
main .prize #container .content-right{
	width: calc((100% - 16px) / 2);
	position: relative;
	padding-right: 10px;
}
main .prize #container .top{
	color: #FFF;
	font-size: 20px;
	position: relative;
	margin:0;
	margin-bottom: 10px;
}
main .prize #container .content-left{
	height: 128px;
}
main .prize #container .content-left {

	background-repeat: no-repeat;
	background-size: cover;
}
main .prize #container .top:after{
	content:"";
	position: absolute;
	width: 1px;
	height: 18px;
	background: red;
	/* top: 50%; */
	left: 65px;
	top: 50%;
	transform: translateY(-50%);

}

main .prize #container .content-left:nth-of-type(2n){
	margin-right: 0px;
}
main .prize #container .content-right a {
	font-size: 13px;
	margin:0px;
	text-decoration: none;
	color: #FFF;
	font-family: "Roboto-Regular";
}
main .prize #container .content-right p{
	margin:0px;
	position: absolute;
	left: 0;
	bottom: 0;
}
main .prize .swiper-pagination-bullets {
	text-align: center;
	bottom: 10px;
	width: 100%;
	left: 50%;
	transform: translate(-50%,0);
	display: none;
}
main .prize .swiper-pagination-bullet-active{
	background:#FFF;
}
main .list{
	padding: 40px 0px 45px;
	margin:0px 98px;
	position: relative;
}
main .list a{
	text-decoration: none;
}
main .list:after{
	content: '';
	position: absolute;
	background-image: url(images/Untitledasdasd-2.png);
	background-position: right;
	background-size: cover;
	top: -93px;
	right: -99px;
	width: 590px;
	height: 622px;
	z-index: -1;
}
main .list .title p{
	font-size: 30px;
	font-family: "Roboto-Bold";
	color: #000;
	text-align: center;
	text-transform: uppercase;
	padding-bottom:30px;
}
main .list .content{
	width: 100%;
	overflow: hidden;
}
main .list .content .img{
	position: relative;
	height: 350px;
	margin-right:0px;
	margin-bottom:6px;
	float: left;
	width: calc(( 100% - 6px) / 2 );
}

main .list .content .img:nth-of-type(1){
	margin-right:6px;
}
main .list .content .img:nth-of-type(3){
	margin-right:6px;
}
main .list .content img{
	display: block;
	width: 100%;
	height: auto;
}
main .list .content .img p {
	background: #126338d6;
	opacity: 0.7;
	position: absolute;
	color: #FFF;
	font-size: 15px;
	font-family: "Roboto-Light";
	height: 45px;
	text-align: center;
	padding: 16px 0px;
	bottom: 0px;
	width: 100%;
	margin: 0px;
	transform: translateY(0%);
	transition: all .4s  ease-in-out ;
	font-family: "Roboto-Light";
	text-transform: uppercase;
}
main .list .content .img a
{
	background: #126338d6 ;
	opacity: 0.7;
	position: absolute;
	color: #FFF;
	font-size: 15px;
	font-family: "Roboto-Light";
	height: 45px;
	text-align: center;
	padding: 16px 0px;
	bottom: 0px;
	width: 100%;
	margin: 0px;
	text-transform: uppercase;
	opacity: 0;
	transform:translateY(-100%);
	transition: all .4s ease-in-out;

}
main .list .content .img:hover p{
	bottom: 45px;
	margin: 0px;

}
main .list .content .img:hover a{
	bottom: 0px;
	margin: 0px;
	background: #126338d6 ;
	opacity: 1;
	transform: translateY(0%);
	transition: all .4s  ease-in-out ;
}
main .story{
	background-image: url(images/backgr_03.png);
	width: 100%;
	height: auto;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;	
}
main .story  #container{
	margin:0 218px;
	position: relative;
}
main .story  #container h3{
	text-align: center;
	color: #FFF;
}
main .story  #container p{
	text-align: center;
	color: #FFF;
}
main .story #container .title{
	font-family: "Roboto-Bold";
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 45px;
	padding-bottom: 26px;
	position: relative;
}
main .story  #container .title:before{
	content: "";
	position: absolute;
	width: 100px;
	height: 1px;
	background: red;
	bottom: 0px;
	right: 50%;

	transform: translateX(50%);
}
main .story  #container  p{
	font-family: "Roboto-Regular";
	font-size: 15px;
	padding:30px 83px 0px;

}
main .story #container .content{
	
	padding-top: 57px;
	padding-bottom:102px;
	
}
main .story #container .content .data h3:before{
	content: "";
	position: absolute;
	width: 100px;
	height: 1px;
	background: #fff;
	bottom: 0px;
	right: 50%;

	transform: translateX(50%);
}
main .story #container .content .data:nth-of-type(5n){

	margin:0px;
}
main .story #container .content .data h3{
	position: relative;
	margin:0px;
	padding-bottom:50px;
	font-size: 40px;
}
main .story #container .content .data p{
	font-family: "Roboto-Bold";
	font-size: 12px;
	padding:22px 0 0;
	text-transform: uppercase;
}
main .story .swiper-pagination-bullets{
	width: 100%;
	text-align: center;
	bottom: 20px;
}
main .story .swiper-pagination-bullet-active{
	background:#fff;
}
main .story .swiper-pagination-bullets {
	display: none;
}
main .news a{
	text-decoration: none;
	
}
main .news{
	margin:70px 7.174% 87px;
	display: flex;
	position: relative;
	flex-wrap: wrap;

}
main .news:after{
	content: '';
	position: absolute;
	background-image: url(images/Untitledasdasd-2.png);
	background-position: right;
	background-size: cover;
	top: -93px;
	right: -99px;
	width: 590px;
	height: 622px;
	z-index: -1;
}
main .news .swiper-pagination-bullet-active{
	background:#FFF;
}
main .news .news-left{
	width: 37.775%;
	padding-right: 30px;
	
}
main .news .news-right{
	width: calc(100% - 37.775%);
}
#swiper-news{
	width: 100%;
	height: 100%;
}
main .news .news-left .slide{
	background:#173156;
	width: 100%;
	padding:10px;

}
main .news .news-left .slide  .content .img{
	width: 100%;
	text-align: center;
	padding: 7px 5px;
	position: relative;
	height: 284px;
}
main .news .content .img{
	text-align: center;
	position: relative;
	overflow: hidden;
}
main .news .content .img img{
	width: 100%;
}
main .news .content .img:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #122846;
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition-property: all;
	transition-duration: 1s, .3s;
}
main .news .content .img:hover:before{
	opacity: 1;
	opacity: 0.7;
	transition-property: all;
	transition-duration: 1s, .3s;

}

main .img:hover .boder{
	opacity: 1;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	transform: rotate(180deg);
	transition: width 2s, height 2s, transform 2s;
}
main .boder{
	position: absolute;
	transition: width 2s, height 2s, transform 2s;
	border: 2px solid #FFF;
	opacity: 0;
}
main .news  .content .seach i{
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	opacity: 1;
	padding-right:11px;
}
main .news  .content .seach{
	position: absolute;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	opacity: 0;
	transition: width 2s, height 2s, transform 2s;
	top: 50%;
	left: 50%;
}
main .news .content .img:hover .seach{
	opacity: 1;
	transform: translate(-50%,-50%) rotate(-360deg);
}
main .news .news-left .slide  .content img{
	width: 100%;
}
main .news .news-left .slide {
	
	height: calc(100% - 91px);
}
main .news .news-left .slide  .content .text{
	padding: 26px 42px 40px 40px;
	color: #FFF;
	position: relative;
}

main .news .news-left .slide  .content .text a:nth-of-type(1){
	font-size: 20px;
	font-family: "Roboto-Bold";
	text-transform: uppercase;
	margin: 0px;
	color: #fff;
}
main .news .news-left .slide  .content .text a:nth-of-type(2){
	color: #FFF;
	font-family: "Roboto-Light";
}
main .news .news-left .slide  .content .text p{
	padding:20px 0;
	font-family: "Roboto-Light";
	font-size: 12px;
	margin:0px;
}
main .news .content .text a:nth-of-type(2){
	position: absolute;
	padding-left:45px;

	bottom: 0px;
	text-transform: uppercase;
}
main .news  .content .text a:nth-of-type(2):before{
	content: "";
	background: red;
	width: 30px;
	height: 1px;
	bottom: 50%;
	position: absolute;
	left: 0px;
	text-decoration: none;
}
main .news .news-left .slide  .content .text p:nth-of-type(2n){
	font-size: 13px;
	font-family: "Roboto-Regular";
}
main .news .title h3{
	font-size: 30px;
	font-family: "Roboto-Bold";
	padding-bottom: 28px;
	text-transform: uppercase;
}
main .news .news-right .content{
	width: 100%;
}
main .news .news-right a:nth-of-type(1){
	color: #000;
	font-family: "Roboto-Bold";
}
main .news .news-right  .item{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 30px;
	
}
main .news .news-right .item:nth-of-type(3){
	margin-bottom: 0px
}
main .news .news-right .content .img{
	width: 36%;

	height: 187px;
}
main .news .news-left .content .img{
	background-repeat: no-repeat;
	background-size: cover;
	
}
main .news .news-right .content .img{
	background-repeat: no-repeat;
	background-size: cover;
}
main .news .news-right .content .text{
	width: calc(100% - 36%);
	padding-left:31px;
	position: relative;
}
main .news .news-right .content .text a:nth-of-type(1){
	
	font-family: "Roboto-Bold";
	font-size:15px;
	padding-bottom: 20px;
	margin:0px;
}
main .news .news-right .content .text p:nth-of-type(1)
{
	font-size: 12px;
	font-family: "Roboto-Regular";
	padding: 20px 0

}
main .news .news-right .content .text p:nth-of-type(2)
{
	font-family: "Roboto-Light";
	font-size: 13px;
	padding-bottom: 25px;
	max-height: 55px;
	overflow: hidden;
}

@media only screen and (max-width : 1024px){
	header{
		
		opacity:0;
		transform: translateY(-100%);
		transition: all .4s ease-in-out;
	}
	.hamburger-block {
		position: fixed;
		width: 100%;
		height: 39px;
		background-image: linear-gradient(to right, #c1912b 50%, #feeca0);
		bottom: 0px;
		display: block;
		z-index: 99999;
	}
	.hamburger{
		position: fixed;
		bottom: 0px;
		left: 0px;
		z-index: 999;
		background:#126338d6;
		
	}
	.bar {
		display: block;
		width: 35px;
		height: 5px;
		background-color: #FFF;
		margin-top: 6px;
		margin-left: 0px;
		margin-bottom: 6px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		border-radius: 3px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.menu-mobile-active{
		opacity:1;
		transform: translateY(0%);
		transition: all .4s ease-in-out;
	}

	.hamburger-active .bar1{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		-moz-transform: rotate(-45deg) translate(-9px, 6px);
		-ms-transform: rotate(-45deg) translate(-9px, 6px);
		-o-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.hamburger-active .bar2{
		opacity: 0;
	}
	.hamburger-active .bar3{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		-moz-transform: rotate(45deg) translate(-8px, -8px);
		-ms-transform: rotate(45deg) translate(-8px, -8px);
		-o-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-9px, -7px);
	}
	.hamburger-block{
		position: fixed;
		width: 100%;
		height: 39px;
		background: #126338d6;
		bottom: 0px;
		display: block;
		z-index: 99999;
	}
	.icon {
		margin: 0;
		position: absolute;
		right: 10px;
		top: 50%;
		font-size: 20px;
		transform: translate(-0%,-50%);
	}

	.icon .link {
		/* width: 50%; */
		/* display: flex; */
		/* padding-right: 20px; */
		float: left;
		margin-right: 20px;

	}
	.icon .link a {
		/* display: flex; */
		padding-right: 5px;
		color: #FFF;
		display: inline-block;
		text-transform: uppercase;

	}
	.icon .link a:hover{
		color: #9aa2af;
	}
	.icon .font-awesome{
		float: left;
	}
	.icon .font-awesome .seach {
		padding: 0 20px 0 0;
		/* margin: 0px; */
		/* width: 50%; */
		color: #FFF;
		display: inline-block;
	}
	.icon .font-awesome a:before{
		content: " ";
		position: absolute;
		background: #9aa2af;
		width: 1px;
		height: 15px;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}
	.hamburger-block .icon .font-awesome .seach:before{
		content:none;
	}
	.icon .font-awesome a{
		margin:0px;
		position: relative;
		padding-left: 20px;
		color: #FFF;
		text-transform:uppercase;
	}
	header .header-top {
		height: 70px;
	}
	header .icon {

		margin-top: 31px;
		position: absolute;
		right: 88px;
		top: 35px;
		font-size: 25px;
		display: none;
	}
	header .icon .link {
		/* width: 50%; */
		/* display: flex; */
		/* padding-right: 20px; */
		float: left;
		margin-right: 20px;
		display: none;
	}
	header .icon .link a {
		/* display: flex; */
		padding-right: 5px;
		color: #FFF;
		display: inline-block;
		text-transform: uppercase;
		
	}
	header .icon .link a:hover{
		color: #9aa2af;
	}
	header .icon .font-awesome{
		float: left;
	}
	header .icon .font-awesome .seach {
		padding: 0 20px 0 0;
		/* margin: 0px; */
		/* width: 50%; */
		color: #FFF;
		display: inline-block;
	}
	header .icon .font-awesome a:before{
		content: " ";
		position: absolute;
		background: #9aa2af;
		width: 1px;
		height: 15px;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}


	header .icon .font-awesome .seach:before{
		content:none;
	}
	header .icon .font-awesome a{
		margin:0px;
		position: relative;
		padding-left: 20px;
		color: #FFF;
		text-transform:uppercase;
		display: none;
	}
	header .nav-header ul {
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		left: auto;
		top: auto;
		bottom: auto;
		transform:none;
		margin: 0;
		width: 100%;
		text-align: center;
		padding-left:0px;
	}
	header .nav-header ul li {
		/* padding-right: 9px; */
		display: inline-block;
		color: #fff;
		font-family: "Roboto-Bold";
		font-size: 20px;
		text-transform: uppercase;
	}
	header .nav-header ul li {
		/* padding-right: 9px; */
		display: inline-block;
		color: #fff;
		font-family: "Roboto-Bold";
		font-size: 16px;
		text-transform: uppercase;
		width: 100%;
		padding-bottom: 19px;
	}
	header{
		height: 100vh;
		background: #126338d6;

	}
	header .header-top {
		height: 130px;
		border-bottom: none;
	}
	main .baner #swiper-baner .swiper-wrapper img {
		width: 100%;
		height: 50vh;
	}
	main .baner .swiper-pagination-bullets{
		position: absolute;

		bottom: 1.8125%;
		/* left: 22px; */
		color: red;
		left: auto;
		right: auto;
		width: 100%;
	}
	header .nav-header ul li {
		padding-right: 0px;
		display: inline-block;
		color: #fff;
		font-family: "Roboto-Bold";

		text-transform: uppercase;
	}
	main .baner .swiper-pagination-bullets {
		position: absolute;
		bottom: 7.8125%;
		/* left: 22px; */
		color: red;
		left: auto;
		right: 3.514%;
		width: 6%;
	}

	main .baner #swiper-baner .swiper-wrapper img {
		width: 100%;
		height: 70vh;
	}
	header .nav-header ul{

	}
	header .nav-header ul li {

		padding-right: 13px;
		display: inline-block;
		color: #fff;
		font-family: "Roboto-Bold";
		font-size: 25px;
		text-transform: uppercase;
	}
	main .intro .content img {
		width: 100%;
		height: 35vh;
	}
	.intro h2{
		padding-bottom: 20px;

	}
	.intro p{
		padding-bottom: 20px;
		
	}
	.intro a{
		padding-bottom: 20px;
		
	}
	main .intro {
		margin: 0px 30px;
		padding-bottom: 45px;
		position: relative;
	}

	main .intro .content-right .content-right-top {
		padding-top: 0px; 
		font-family: "Roboto-Light";
		font-size: 14px;
	}
	main .intro .content-right .content-right-mid {
		padding-top: 5px;
		font-family: "Roboto-Light";
		font-size: 14px;
		padding-bottom: 5px;
	}
	main .prize #container {
		padding: 19px 30px 25px;
		margin: 0px;
		width: 100%;
	}
	main .prize .content{
		position: relative;
	}
	main .prize .swiper-pagination-bullets {
		display: block;
	}
	main .list {
		padding: 40px 0px 20px;
		margin: 0px 30px;
		position: relative;
	}
	main .story #container {
		margin: 0 30px;
	}
	main .story .swiper-pagination-bullets {
		display: block;
	}
	main .news {
		margin: 25px 30px 40px;
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}
	main .news .news-left{
		width: 37.775%;
		padding-right: 30px;

	}
	main .news .news-right{
		width: calc(100% - 37.775%);
	}
	
	main .news .news-left .slide .content .text {
		padding: 26px 42px 40px 40px;
		color: #FFF;
	}
	main .news .news-left .slide .content .text a:nth-of-type(1) {
		font-size: 16px;
		font-family: "Roboto-Bold";
		text-transform: uppercase;
		margin: 0px;
		color: #fff;
	}
	main .news .title h3 {
		font-size: 30px;
		font-family: "Roboto-Bold";
		padding-bottom: 28px;
		text-align: center;
	}
	
	footer .ft-logo {
		float: left;
		width: 30%;
		padding-right: 20px;
		padding-top: 40px;
		margin: 0 auto;
	}
	.form{
		padding-left: 0%;

	}
	footer .list .ft-column {
		width: calc(100% / 4 );
		border-right:none;
		border-left: none;
		height: 370px;
	}
	footer .list .ft-menu {
		padding-left: 35px;
		border-left: none;
		width: calc(100% / 4);

	}
	footer #container {
		padding: 0px 30px 0px;
	}
	footer .list .ft-column .item:nth-of-type(2) {
		padding-top:5px;
	}
}
@media only screen and (max-width : 768px){
	header{
		opacity:0;
		transform: translateY(-100%);
		transition: all .4s ease-in-out;
	}
	.hamburger-block {
		position: fixed;
		width: 100%;
		height: 39px;
		background-image: linear-gradient(to right, #c1912b 50%, #feeca0);
		bottom: 0px;
		display: block;
		z-index: 99999;
	}
	.hamburger{
		position: fixed;
		bottom: 0px;
		left: 0px;
		z-index: 999;
		background: #126338d6;;
		
	}
	.bar {
		display: block;
		width: 35px;
		height: 5px;
		background-color: #FFF;
		margin-top: 6px;
		margin-left: 0px;
		margin-bottom: 6px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		border-radius: 3px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.menu-mobile-active{
		opacity:1;
		transform: translateY(0%);
		transition: all .4s ease-in-out;
	}

	.hamburger-active .bar1{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		-moz-transform: rotate(-45deg) translate(-9px, 6px);
		-ms-transform: rotate(-45deg) translate(-9px, 6px);
		-o-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.hamburger-active .bar2{
		opacity: 0;
	}
	.hamburger-active .bar3{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		-moz-transform: rotate(45deg) translate(-8px, -8px);
		-ms-transform: rotate(45deg) translate(-8px, -8px);
		-o-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-9px, -7px);
	}
	.hamburger-block{
		position: fixed;
		width: 100%;
		height: 39px;
		background: #126338d6;
		bottom: 0px;
		display: block;
		z-index: 99999;
	}
	.icon {
		margin: 0;
		position: absolute;
		right: 10px;
		top: 50%;
		font-size: 20px;
		transform: translate(-0%,-50%);
	}

	.icon .link {
		/* width: 50%; */
		/* display: flex; */
		/* padding-right: 20px; */
		float: left;
		margin-right: 20px;

	}
	.icon .link a {
		/* display: flex; */
		padding-right: 5px;
		color: #FFF;
		display: inline-block;
		text-transform: uppercase;

	}
	.icon .link a:hover{
		color: #9aa2af;
	}
	.icon .font-awesome{
		float: left;
	}
	.icon .font-awesome .seach {
		padding: 0 20px 0 0;
		/* margin: 0px; */
		/* width: 50%; */
		color: #FFF;
		display: inline-block;
	}
	.icon .font-awesome a:before{
		content: " ";
		position: absolute;
		background: #9aa2af;
		width: 1px;
		height: 15px;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}
	.hamburger-block .icon .font-awesome .seach:before{
		content:none;
	}
	.icon .font-awesome a{
		margin:0px;
		position: relative;
		padding-left: 20px;
		color: #FFF;
		text-transform:uppercase;

	}
	header .header-top {
		height: 70px;
	}

	header .icon {

		margin-top: 31px;
		position: absolute;
		right: 88px;
		top: 35px;
		font-size: 25px;
		display: none;
	}
	header .icon .link {
		/* width: 50%; */
		/* display: flex; */
		/* padding-right: 20px; */
		float: left;
		margin-right: 20px;
		display: none;
	}
	header .icon .link a {
		/* display: flex; */
		padding-right: 5px;
		color: #FFF;
		display: inline-block;
		text-transform: uppercase;
		
	}
	header .icon .link a:hover{
		color: #9aa2af;
	}
	header .icon .font-awesome{
		float: left;
	}
	header .icon .font-awesome .seach {
		padding: 0 20px 0 0;
		/* margin: 0px; */
		/* width: 50%; */
		color: #FFF;
		display: inline-block;
	}
	header .icon .font-awesome a:before{
		content: " ";
		position: absolute;
		background: #9aa2af;
		width: 1px;
		height: 15px;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}


	header .icon .font-awesome .seach:before{
		content:none;
	}
	header .icon .font-awesome a{
		margin:0px;
		position: relative;
		padding-left: 20px;
		color: #FFF;
		text-transform:uppercase;
		display: none;
	}
	header .nav-header ul {
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		left: auto;
		top: auto;
		bottom: auto;
		transform:none;
		margin: 0;
		width: 100%;
		text-align: center;
		padding-left:0px;
	}
	header .nav-header ul li {
		/* padding-right: 9px; */
		display: inline-block;
		color: #fff;
		font-family: "Roboto-Bold";
		font-size: 20px;
		text-transform: uppercase;
	}
	header .nav-header ul li {
		/* padding-right: 9px; */
		display: inline-block;
		color: #fff;
		font-family: "Roboto-Bold";
		font-size: 16px;
		text-transform: uppercase;
		width: 100%;
		padding-bottom: 19px;
	}
	header{
		height: 100vh;
		background: #126338d6;

	}
	header .header-top {
		height: 130px;
		border-bottom: none;
	}
	main .baner #swiper-baner .swiper-wrapper img {
		width: 100%;
		height: 50vh;
	}
	main .baner .swiper-pagination-bullets{
		position: absolute;

		bottom: 1.8125%;
		/* left: 22px; */
		color: red;
		left: auto;
		right: auto;
		width: 100%;
	}
	header .nav-header ul li {
		padding-right: 0px;
		display: inline-block;
		color: #fff;
		font-family: "Roboto-Bold";
		font-size: 19px;
		text-transform: uppercase;
	}
	main .news .content .text a:nth-of-type{
		position: absolute;
		padding-left: 45px;
		bottom: 0px;
	}
	main .intro .content img {
		width: 100%;
		height: 35vh;
	}
	main .intro {
		margin: 0px 30px;
		padding-bottom: 45px;
		position: relative;
	}

	main .intro .content-right .content-right-top {
		padding-top: 0px; 
		font-family: "Roboto-Light";
		font-size: 14px;
	}
	main .intro .content-right .content-right-mid {
		padding-top: 5px;
		font-family: "Roboto-Light";
		font-size: 14px;
		padding-bottom: 5px;
	}
	main .prize #container {
		padding: 19px 30px 25px;
		margin: 0px;
		width: 100%;
	}
	main .prize .swiper-pagination-bullets {
		position: absolute;

		bottom:0;
		/* left: 22px; */

		left: auto;
		right: 0%;
		width: 100%;
		display: block;
		transform: none;
	}
	main .list {
		padding: 40px 0px 20px;
		margin: 0px 30px;
		position: relative;
	}
	main .story #container {
		margin: 0 30px;
	}
	main .story #container #container {
		margin: 0 30px;
	}
	main .news {
		margin: 25px 30px 40px;
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}

	main .news .news-left {
		width: 100%;
		padding-right: 0px;
	}
	main .news .news-left .slide {

		height:622px;
	}
	main .news .news-left .slide .content .text {
		padding: 26px 42px 40px 40px;
		color: #FFF;
	}
	main .news .title h3 {
		font-size: 30px;
		font-family: "Roboto-Bold";
		padding-bottom: 28px;
		text-align: center;
	}
	main .news .news-right {
		/* width: calc(100% - 37.775%); */
		width: 100%;

	}
	main .news .news-right .content .img {
		width: 40%;
		max-height: 435px;
	}
	main .news .news-right .content .text{
		width: 60%;
		padding-left:15px;
	}
	main .news .news-right .content .text p:nth-of-type(2) {
		font-family: "Roboto-Light";
		font-size: 13px;
		padding-bottom: 25px;
		max-height: 79px;
	}
	footer .ft-logo {
		float: initial;
		width: 100%;
		padding-right: 20px;
		padding-top: 40px;
		text-align: center;
	}
	footer .list .ft-column {

	}
	footer .mid{

	}
	footer .list .ft-column:nth-of-type(3) {
		border-left: none;


	}
	footer .list .ft-column .item{
		padding-left: 0px;
	}
}
@media only screen and (max-width : 480px){
	header{
		opacity:0;
		transform: translateY(-100%);
		transition: all .4s ease-in-out;
	}
	header .header-top {
		height: 70px;
	}
	header .icon {

		margin-top: 31px;
		position: absolute;
		right: 88px;
		top: 35px;
		font-size: 25px;
		display: none;
	}
	header .icon .link {
		/* width: 50%; */
		/* display: flex; */
		/* padding-right: 20px; */
		float: left;
		margin-right: 20px;
		display: none;
	}
	header .icon .link a {
		/* display: flex; */
		padding-right: 5px;
		color: #FFF;
		display: inline-block;
		text-transform: uppercase;

	}
	header .icon .link a:hover{
		color: #9aa2af;
	}
	header .icon .font-awesome{
		float: left;
	}
	header .icon .font-awesome .seach {
		padding: 0 20px 0 0;
		/* margin: 0px; */
		/* width: 50%; */
		color: #FFF;
		display: inline-block;
	}
	header .icon .font-awesome a:before{
		content: " ";
		position: absolute;
		background: #9aa2af;
		width: 1px;
		height: 15px;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}


	header .icon .font-awesome .seach:before{
		content:none;
	}
	header .icon .font-awesome a{
		margin:0px;
		position: relative;
		padding-left: 20px;
		color: #FFF;
		text-transform:uppercase;
		display: none;
	}
	header .nav-header ul {
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		left: auto;
		top: auto;
		bottom: auto;
		transform:none;
		margin: 0;
		width: 100%;
		text-align: center;
		padding-left:0px;
	}
	header .nav-header ul li {
		/* padding-right: 9px; */
		display: inline-block;
		color: #fff;
		font-family: "Roboto-Bold";
		font-size: 16px;
		text-transform: uppercase;
		width: 100%;
		padding-bottom: 19px;
	}
	header{
		height: 100vh;
		background: #126338d6;

	}
	header .header-top {
		height: 130px;
		border-bottom: none;
	}
	main #story{
		display: block;
	}
	main .story{
		display: none;
	}

	main #prize{
		display: block;
	}
	main .prize{
		display: none;
	}

	main .prize #container .content .content-all {
		width: 100%;
		margin-right: 0px;
	}
	main .intro .title {
		text-align: center;
		padding-top: 18px;
		padding-bottom: 11px;
	}
	main .intro .title h3 {
		font-family: "Roboto-Bold";
		font-size: 22px;
		padding-bottom: 15px;
		margin: 0px;
		text-transform: uppercase;
	}
	main .intro {
		margin: 0px 15px;
		padding-bottom: 25px;
		position: relative;
	}
	main .intro .content-left {
		/* width: calc(( 100% - 50px) / 2); */
		margin-right: 0px; 
		width: 100%;
		padding-bottom: 30px;
	}
	main .intro .content-right{
		width: 100%;
	}
	main .prize .title h3 {
		font-family: "Roboto-Bold";
		font-size: 22px;
		
		text-align: center;
		color: #ffF;
		margin: 0px;
		padding-bottom: 17px;
		text-transform: uppercase;
	}
	main .prize #container {
		padding: 19px 15px 25px;
		margin: 0px;
		width: 100%;
	}
	main .prize #container .content .content-all {
		width: 100%;
		margin-right:0px;
	}
	main .prize .swiper-pagination-bullets{
		bottom: 0;
		left: auto;
		right: 0;
		width: 100%;
	}
	main .story #container {
		margin: 0 15px;
	}
	main .story #container .title {
		font-family: "Roboto-Bold";
		font-size: 22px;
		text-transform: uppercase;
		padding-top: 33px;
		padding-bottom: 26px;
		position: relative;

	}
	main .story #container .content {
		padding-top: 19px;   
		padding-bottom: 25px;
	}
	main .story #container p {
		font-family: "Roboto-Light";
		font-size: 15px;
		padding: 30px 13px 0px;
	}
	main .story .swiper-pagination-bullets{
		position: absolute;

		bottom:0%;
		/* left: 22px; */

		left: auto;
		right: auto;
		width: 100%;
	}
	main .list {
		padding: 26px 0px 10px;
		margin: 0px 15px;
		position: relative;
	}
	main .list .title p {
		font-size: 22px;
		font-family: "Roboto-Bold";
		color: #000;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 12px;
	}
	main .list .content .img {
		position: relative;
		margin-right: 0px;
		margin-bottom: 6px;
		float: left;
		width:100%;
	}
	.form {
		padding-left: 24%;
	}
	footer .list {
		display: flex;
		flex-grow: none;
		flex-wrap: wrap;
	}
	footer .list .ft-column .item {
		padding-left: 0px;
		padding-top: 15px;
	}
	footer .list .ft-menu {
		padding-left: 0px;
		border: none;

	}
	footer .list .ft-menu li {
		list-style: none;
		padding-bottom: 20px;

		padding-right: 6px;
	}
	main .news {
		margin: 25px 15px 40px;
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}
	main .news .title h3 {
		font-size: 22px;
		font-family: "Roboto-Bold";
		padding-bottom: 16px;
		text-align: center;
	}
	main .news .swiper-pagination-bullets {
		position: absolute;

		bottom:5px;
		/* left: 22px; */

		
		width: 100%;
		display: block;
	}
	main .news .slide .content .text a:nth-of-type(2) {
		position: absolute;
		padding-left: 45px;
		bottom: 23px;
	}
	main .news .news-left .slide .content .text {
		padding: 15px 10px 40px 10px;
		color: #FFF;
	}
	main .news .news-left .slide .content .text p {
		padding-bottom: 18px;
		font-family: "Roboto-Light";
		font-size: 12px;
		margin: 0px;
	}
	main .news .news-right .content .img {
		width: 100%;
		height: 283px;
	}
	main .news .news-right .content .text {
		width: 100%;
		padding-left: 0px;
		padding-top: 10px;
	}
	main .news .news-left .slide .content .text h3 {
		padding-bottom: 13px;
		font-size: 16px;
		font-family: "Roboto-Bold";
		text-transform: uppercase;
		margin: 0px;
		line-height: 19px;
	}
	main .news .news-right .content .text p:nth-of-type(2) {
		font-family: "Roboto-Light";
		font-size: 13px;
		padding-bottom: 25px;
		max-height: 125px;
	}
	.hamburger{
		position: fixed;
		bottom: 0px;
		left: 0px;
		z-index: 999;
		background: #126338d6;;

	}
	.bar {
		display: block;
		width: 35px;
		height: 5px;
		background-color: #FFF;
		margin-top: 6px;
		margin-left: 0px;
		margin-bottom: 6px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		border-radius: 3px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.menu-mobile-active{
		opacity:1;
		transform: translateY(0%);
		transition: all .4s ease-in-out;
	}

	.hamburger-active .bar1{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		-moz-transform: rotate(-45deg) translate(-9px, 6px);
		-ms-transform: rotate(-45deg) translate(-9px, 6px);
		-o-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.hamburger-active .bar2{
		opacity: 0;
	}
	.hamburger-active .bar3{
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		-moz-transform: rotate(45deg) translate(-8px, -8px);
		-ms-transform: rotate(45deg) translate(-8px, -8px);
		-o-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-9px, -7px);
	}
	.hamburger-block{
		position: fixed;
		width: 100%;
		height: 39px;
		background: #126338d6;
		bottom: 0px;
		display: block;
		z-index: 99999;
	}

	.header-top .logo {
		position: absolute;
		left: 28%;
		top: 50%;
		transform: translate(-50%, -50%);


	}
	
	.accout{
		
	}
	.icon {
		margin: 0;
		position: absolute;
		right: 10px;
		top: 50%;
		font-size: 20px;
		transform: translate(-0%,-50%);
	}

	.icon .link {
		/* width: 50%; */
		/* display: flex; */
		/* padding-right: 20px; */
		float: left;
		margin-right: 20px;

	}
	.icon .link a {
		/* display: flex; */
		padding-right: 5px;
		color: #FFF;
		display: inline-block;
		text-transform: uppercase;

	}
	.icon .link a:hover{
		color: #9aa2af;
	}
	.icon .font-awesome{
		float: left;
	}
	.icon .font-awesome .seach {
		padding: 0 20px 0 0;
		/* margin: 0px; */
		/* width: 50%; */
		color: #FFF;
		display: inline-block;
	}
	.icon .font-awesome a:before{
		content: " ";
		position: absolute;
		background: #9aa2af;
		width: 1px;
		height: 15px;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
	}
	


	.hamburger-block .icon .font-awesome .seach:before{
		content:none;
	}
	.icon .font-awesome a{
		margin:0px;
		position: relative;
		padding-left: 20px;
		color: #FFF;
		text-transform:uppercase;

	}
}
/*duan.php*/
.section_7 { background-size: cover; background-repeat: no-repeat; background-position: center; position: relative; }
@media only screen and (max-width: 1024px) { .section_7 { height: 750px !important; } }
@media only screen and (max-width: 768px) { .section_7 { height: 500px !important; } }
@media only screen and (max-width: 480px) { .section_7 { height: 275px !important; } }
.section_7:before { content: ''; position: absolute; bottom: 0; width: 100%; height: 100%; right: 0px; background-image: url("images/nguyen/Rectangle 3.png"); background-repeat: no-repeat; background-size: cover; }
.section_7 .text { font-size: 30px; color: #fff; position: absolute; bottom: 55px; left: 50%; transform: translate(-50%, 0); }
@media only screen and (max-width: 768px) { .section_7 .text { font-size: 25px; } }
@media only screen and (max-width: 480px) { .section_7 .text { bottom: 25px; font-size: 16px; width: max-content; } }
.section_7 .fancybox-360 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center; justify-content: center; }
.section_7 .fancybox-360 .link360 { position: absolute; display: flex; align-items: center; justify-content: center; color: #fff; font-size: 24px; font-family: "UTM AvoBold"; width: 100px; height: 100px; transition: all 0.4s; }
.section_7 .fancybox-360 .link360:hover { transform: scale(1.1); }
@media only screen and (max-width: 480px) { .section_7 .fancybox-360 .link360 { font-size: 20px; } }
.section_7 .fancybox-360 .link360 .boder { border: 4px solid #00a651; border-radius: 100%; width: 100px; height: 100px; position: absolute; transform: translate(50%, -50%); animation: xoayvong 2s linear 0s infinite; -webkit-animation: xoayvong 2s linear 0s infinite; -moz-animation: xoayvong 2s linear 0s infinite; -o-animation: xoayvong 2s linear 0s infinite; }
@media only screen and (max-width: 480px) { .section_7 .fancybox-360 .link360 .boder { width: 80px; height: 80px; } }
.section_7 .fancybox-360 .link360 .boder:before { content: ''; position: absolute; bottom: 48%; width: 10px; height: 10px; right: -16px; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #00a651; transform: translateY(50%); }
.section_7 .fancybox-360 .link360:after { content: ''; position: absolute; bottom: 55%; width: 10px; height: 10px; right: 13px; background: transparent; border: 3px solid #fff; border-radius: 100%; }
@media only screen and (max-width: 480px) { .section_7 .fancybox-360 .link360:after { right: 20px; } }

/* Chrome, Safari, Opera */
@-webkit-keyframes xoayvong { from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); } }
/* Standard syntax */
@keyframes xoayvong { from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); } }
/*hetduan*/
/*slylesc cho chitietsanpham*/
body {  
	font-family:Arial, Helvetica, sans-serif;   
	overflow-x: hidden;
}

img {   
	max-width: 100%;
}

.preview {  
	display: -webkit-box;   
	display: -webkit-flex;  
	display: -ms-flexbox;   
	display: flex;  
	-webkit-box-orient: vertical;   
	-webkit-box-direction: normal;  
	-webkit-flex-direction: column; 
	-ms-flex-direction: column; 
	flex-direction: column;
} 

@media screen and (max-width: 996px) { 
	.preview { 
		margin-bottom: 20px;
	}
}

.preview-pic {  
	-webkit-box-flex: 1;    
	-webkit-flex-grow: 1;   
	-ms-flex-positive: 1;   
	flex-grow: 1;
}

.preview-thumbnail.nav-tabs {   
	border: none;   
	margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {    
	width: 18%; 
	margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {    
	max-width: 100%;    
	display: block;
}

.preview-thumbnail.nav-tabs li a {  
	padding: 0; 
	margin: 0;  
	cursor:pointer;
}

.preview-thumbnail.nav-tabs li:last-of-type {   
	margin-right: 0;
}

.tab-content {  
	overflow: hidden;
}

.tab-content img {  
	width: 100%;    
	-webkit-animation-name: opacity;    
	animation-name: opacity; 
	-webkit-animation-duration: .3s; 
	animation-duration: .3s;
}

.card { 
	margin-top: 0px;    
	background: #eee;   
	padding: 3em;   
	line-height: 1.5em;
	padding-top: 130px;
} 

@media screen and (min-width: 997px) { 
	.wrapper { 
		display: -webkit-box; 
		display: -webkit-flex; 
		display: -ms-flexbox; 
		display: flex;
	}
}

.details {  
	display: -webkit-box;
	display: -webkit-flex;  
	display: -ms-flexbox;   
	display: flex;  
	-webkit-box-orient: vertical;   
	-webkit-box-direction: normal;  
	-webkit-flex-direction: column; 
	-ms-flex-direction: column; 
	flex-direction: column;
}

.colors {   
	-webkit-box-flex: 1;    
	-webkit-flex-grow: 1;   
	-ms-flex-positive: 1;   
	flex-grow: 1;
}

.product-title, .price, .sizes, .colors {   
	text-transform: UPPERCASE;  
	font-weight: bold;
}

.checked, .price span { 
	color: #ff9f1a;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {  
	margin-bottom: 15px;
}

.product-title {    
	margin-top: 0;
}

.size {
	margin-right: 10px;
}

.size:first-of-type {   
	margin-left: 40px;
}

.color {    
	display: inline-block;  
	vertical-align: middle; 
	margin-right: 10px; 
	height: 2em;    
	width: 2em; 
	border-radius: 2px;
}

.color:first-of-type {  
	margin-left: 20px;
}

.add-to-cart, .like {   
	background: #ff9f1a;    
	padding: 1.2em 1.5em;   
	border: none;   
	text-transform: UPPERCASE;  
	font-weight: bold;  
	color: #fff;    
	text-decoration:none; 
	-webkit-transition: background .3s ease; 
	transition: background .3s ease;
}

.add-to-cart:hover, .like:hover {   
	background: #b36800;    
	color: #fff;    
	text-decoration:none;
}

.not-available {    
	text-align: center; 
	line-height: 2em;
}

.not-available:before { 
	font-family: fontawesome;   
	content: "\f00d";   
	color: #fff;
}

.orange {   
	background: #ff9f1a;
}

.green {    
	background: #85ad00;
}

.blue { 
	background: #0076ad;
}

.tooltip-inner {    
	padding: 1.3em;
} 

@-webkit-keyframes opacity { 
	0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
	100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
} 

@keyframes opacity { 
	0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
	100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
}
/*het chitietsanpham*/
/*trangquantr*/
.trangquantri h3{
	text-align: center;
	text-transform: uppercase;
	color: red;

}
.trangquantri ul li{
	padding: 10px;
}
.trangquantri ul li a{
	
	color: #000;

}
.trangquantri ul{
	padding-top: 20px;
}
.trangquantri ul li a:hover{
	color: red;
}
.content .img{
	width: 300px;height: 200px;
}