
body{
	margin: 0 !important;
	padding: 0 !important;
}
.chitiettintuc{
	padding:0px 30px 60px
}
.chitiettintuc .active:before{
	content:'\f005';
	color:#FD4;
	transition:all .25s
}
.chitiettintuc .title{
	font-family:'GOTHAM BOOK';
	font-size:16px;line-height:26px;
	color:#4B423E;font-weight:bold;
	padding-top:30px
}
@media only screen and (max-width: 768px){
	.chitiettintuc .title{
		padding-top:15px;
		line-height:20px
	}
}
.chitiettintuc .baner{
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;padding-top:40%
}
.chitiettintuc .colum{
	padding:0 90px;display:flex;flex-wrap:wrap
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .colum{padding:0 0px
	}
}
@media only screen and (max-width: 768px){
	.chitiettintuc .colum{padding:0 0px
	}
}
.chitiettintuc .left{
	background:#fff;
	width:62%;margin-top:-100px;
	padding:0 60px
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .left{
		padding:0 30px 0 0;
		margin-left:-1px
	}
}
@media only screen and (max-width: 768px)
{
	.chitiettintuc .left{
		padding:0 15px 0 0
	}
}
.chitiettintuc .left a{
	font-family:'GOTHAM BOOK';
	font-size:14px;
	line-height:23px;
	letter-spacing:0.04em;
	text-transform:uppercase
	;display:block;color:#4AB587;margin-top:30px
}
.chitiettintuc .left a i{
	font-size:20px;font-weight:bold
}
.chitiettintuc .left h1{
	font-family:'GOTHAM BOLD';
	font-size:36px;line-height:48px;
	color:#4B423E;padding-top:20px;
	width:90%;margin:0px
}
@media only screen and (max-width: 1024px)
{
	.chitiettintuc .left h1{width:100%
	}
}
@media only screen and (max-width: 768px){
	.chitiettintuc .left h1{
		font-size:25px;
		line-height:33px;padding-top:15px
	}
}
.chitiettintuc .left .text{
	display:flex;flex-wrap:wrap;
	padding-top:30px;flex-direction:row
}
@media only screen and (max-width: 768px){
	.chitiettintuc .left .text{
		padding-top:15px
	}
}
.chitiettintuc .left .text p{
	position:relative;
	font-family:'GOTHAM BOOK';
	font-size:16px;line-height:21px;
	letter-spacing:0.01em;
	color:#A8AEAB;padding-right:14px
}
.chitiettintuc .left .text p:before{
	position:absolute;content:"";
	width:4px;
	height:2px;
	right:0;
	top:50%;
	background:#a8aeab;
	transform:translate(0, -50%)
}
.chitiettintuc .left .text a{
	padding-left:10px;font-family:'GOTHAM BOLD';text-transform:initial;
	margin:0;display:initial;font-size:16px;
}
.chitiettintuc .left .content{border-bottom:1px solid #DDD
}
.chitiettintuc .left .content .wp-caption{
	padding-top:30px;max-width:100%;display:block;height:auto
}
.chitiettintuc .left .content .wp-caption-text{
	text-align:center;padding-top:15px;
	font-size:13px;font-family:'GOTHAM BOOK'
}
.chitiettintuc .left .content p{
	font-family:'GOTHAM BOOK';
	font-size:16px;line-height:26px;
	padding-top:30px;
	color:#4B423E
}
.chitiettintuc .left .evaluate .text a{
	font-family:'GOTHAM BOOK';
	line-height:90px !important;
}
@media only screen and (max-width: 768px){
	.chitiettintuc .left .content p{
		padding-top:15px
	}
}
.chitiettintuc .left .content img{
	max-width:100%;height:auto;text-align:center;display:block
}
.chitiettintuc .left .content .quote{
	padding-top:30px;display:flex;align-items:row
}
@media only screen and (max-width: 768px){
	.chitiettintuc .left .content .quote
	{
		padding-top:15px
	}
}
.chitiettintuc .left .content .quote p{
	padding-top:0;font-family:'GOTHAM BOOK';
	font-size:20px;font-style:italic;line-height:32px;color:#3A3330
}
@media only screen and (max-width: 768px){
	.chitiettintuc .left .content .quote p{
		line-height:25px
	}
}
.chitiettintuc .left .content .quote i{
	padding-top:10px;color:#4AB587;
	font-size:20px;padding-right:30px
}
@media only screen and (max-width: 768px)
{
	.chitiettintuc .left .content .quote i{
		padding-right:15px
	}
}
.chitiettintuc .left .evaluate{
	padding-bottom:15px;padding-top:30px;display:block
}
@media only screen and (max-width: 768px){
	.chitiettintuc .left .evaluate{
		padding-top:15px
	}
	.chitiettintuc .left .evaluate .stars{
		text-align:right
	}
	.chitiettintuc .left .evaluate .text{
		display:flex;flex-wrap:wrap;
		padding-top:30px;flex-direction:row;
		align-items:center;
		justify-content:flex-end;
		padding-right:10px;padding-top:0px
	}
	.chitiettintuc .left .evaluate .text p{
		font-size:12px;line-height:26px;
		color:#A8AEAB;padding:0;padding-right:5px
	}
	.chitiettintuc .left .evaluate .text p:before{
		width:1px;height:10px;
		transform:translateY(-50%) rotateZ(25deg)
	}
	.chitiettintuc .left .evaluate .text a{
		font-family:'GOTHAM BOOK';
		font-size:12px;line-height:90px !important;padding-left:5px
	}
	.chitiettintuc .left input.star{
		display:none
	}
	.chitiettintuc .left label.star{
		padding:2px;font-size:25px;
		color:#444;transition:all .2s
	}
	.chitiettintuc .left label.star:hover{
		transform:rotate(-15deg) scale(1.3)
	}
	.chitiettintuc .left label.star:before{
		content:'\f006';font-family:FontAwesome
	}
	.chitiettintuc .left .bottom{
		padding-top:20px;
		display:flex;
		flex-wrap:wrap;
		align-items:center;
		flex-decoration:row
	}
	.chitiettintuc .left .bottom .hastag{
		width:60%;justify-content:flex-start;
		text-align:left
	}
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .left .bottom .hastag{
		width:55%
	}
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .left .bottom .hastag{
		width:100%;margin-bottom:15px
	}
}
.chitiettintuc .left .bottom .hastag a{
	text-transform:initial;
	margin:0;
	font-family:'GOTHAM BOOK';
	font-size:15px;
	line-height:26px;
	color:#4B423E;
	border:1px solid #4B423E;
	padding:10px 15px;
	display:inline-block;
	margin-right:10px
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .left .bottom .hastag a{
		font-family:"GOTHAM BOOK";font-size:15px;
		line-height:18px;color:#4b423e;
		border:1px solid #4b423e;
		padding:6px 10px;
		display:inline-block;
		margin-right:0px
	}
}
.chitiettintuc .left .bottom .social-chitiettintuc{
	justify-content:flex-end;display:flex;
	flex-wrap:wrap;width:100%
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .left .bottom .social-chitiettintuc{
		width:45%
	}
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .left .bottom .social-chitiettintuc{
		width:100%
	}
}
.chitiettintuc .left .bottom .social-chitiettintuc p{
	font-family:'GOTHAM BOOK';font-size:14px;
	line-height:26px;color:#A8AEAB;margin-right:15px
}
.chitiettintuc .left .bottom .social-chitiettintuc a{
	display:block;margin:0
}
.chitiettintuc .left .bottom .social-chitiettintuc .img{
	width:25px;height:25px;
	background-size:cover;
	background-repeat:no-repeat;
	margin-right:10px
}
.chitiettintuc .left .bottom .social-chitiettintuc .img:nth-of-type(4){
	margin:0
}
.chitiettintuc .right{
	width:25%;
	padding:60px 0px 20px 30px
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .right{
		padding:60px 0px 20px 0px
	}
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .right{
		padding:30px 0px 20px 0px
	}
}
.chitiettintuc .right .news{
	padding:25px 30px 20px;
	border:1px solid #ddd
}
@media only screen and (max-width: 1366px)
{
	.chitiettintuc .right .news{
		padding:25px 25px 20px
	}
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .right .news{
		padding:25px 0px 20px;border:none
	}
}
.chitiettintuc .right .news h3{
	font-family:"GOTHAM BOOK";
	font-size:20px;
	font-weight:bold;
	line-height:30px;
	letter-spacing:.04em;
	text-transform:uppercase;
	color:#4b423e;padding-bottom:30px;
	border-bottom:2px solid #ddd;
	position:relative
}

@media only screen and (max-width: 768px){
	.chitiettintuc .right .news h3{
		line-height:15px;font-size:13px
	}
}
.chitiettintuc .right .news h3:before{
	content:'';background:#4AB587;width:70px;
	height:3px;
	position:absolute;
	bottom:-2px;
	left:0
}
.chitiettintuc .right .news .item{
	padding-top:30px;padding-bottom:20px;
	display:flex;flex-wrap:wrap;align-items:center;
	border-bottom:1px solid #ddd
}
.chitiettintuc .right .news .item .img{
	padding-top:25%;width:33%;
	background-size:cover;background-repeat:no-repeat
}
@media only screen and (max-width: 1440px){
	.chitiettintuc .right .news .item .img{
		height:70px;width:90px
	}
}
.chitiettintuc .right .news .item .text{
	position:relative;padding-left:10px;
	width:calc(100% - 33%);line-height:21px
}
@media only screen and (max-width: 1440px){
	.chitiettintuc .right .news .item .text{
		width:calc(100% - 90px)
	}
}
.chitiettintuc .right .news .item .text .title{
	padding:0;padding-bottom:10px;line-height:21px
}
@media only screen and (max-width: 768px){
	.chitiettintuc .right .news .item .text .title{
		font-size:12px;height:34px;line-height:16px
	}
}
.chitiettintuc .right .news .item .text p{
	font-family:'GOTHAM BOOK';font-size:14px;line-height:23px;color:#a8aeab
}
@media only screen and (max-width: 1024px){
	.chitiettintuc .right .news .item .text p{
		font-size:14px
	}
}
@media only screen and (max-width: 768px){
	.chitiettintuc .right .news .item .text p{
		font-size:12px
	}
}
.chitiettintuc .right .news .button{
	font-family:'GOTHAM BOOK';
	font-size:14px;line-height:23px;
	font-weight:bold;letter-spacing:0.04em;text-transform:uppercase;
	color:#4AB587;text-align:center;
	display:block;padding-top:20px
}
@media only screen and (max-width: 480px){
	.chitiettintuc{
		padding:0 20px
	}
	.chitiettintuc .title{
		font-size:13px;
		line-height:17px;
		padding-top:15px
	}
	.chitiettintuc .colum{
		padding:0
	}
	.chitiettintuc .colum .left{
		margin-top:15px;width:100%;padding-right:0
	}
	.chitiettintuc .colum .left .top a{
		margin:0px
	}
	.chitiettintuc .colum .left .top h1{
		font-size:14px;line-height:20px
	}
	.chitiettintuc .colum .left .top p{
		font-size:15px;width:125px
	}
	.chitiettintuc .colum .left .content{
		padding-bottom:15px
	}
	.chitiettintuc .colum .left .content p{
		font-size:13px;line-height:20px
	}
	.chitiettintuc .colum .left .bottom .hastag{
		padding-top:15px}
		.chitiettintuc .colum .left .bottom .hastag p{
			font-size:12px;line-height:12px;padding:6px 5px;margin-right:0px
		}
		.chitiettintuc .colum .left .bottom .social-chitiettintuc p{
			font-size:13px
		}
		.chitiettintuc .colum .right{
			width:100%
		}

		.chitiettintuc .colum .right .news h3{
			padding-bottom:15px
			}.chitiettintuc .colum .right .news .item{
				padding:15px 0px
			}
		}
