.section_9 { 
	position: relative; 
	background-position: center;
	background-position: center center;
	background-size: cover; 
	background-repeat: no-repeat;

}
.section_9:before{
	content: '';
	background: -webkit-linear-gradient(to bottom, #000, rgba(152, 125, 64, 0.1));
	background: -o-linear-gradient(to bottom, #000, rgba(152, 125, 64, 0.1));
	background: -moz-linear-gradient(to bottom, #000, rgba(152, 125, 64, 0.1));
	background: linear-gradient(to bottom, #000, rgba(152, 125, 64, 0.1));
	opacity: 0.3;
	width: 100%;
	height: 100%;
	bottom: 0;
	position: absolute;
}
@media only screen and (max-width: 1024px) { 
	.section_9 { height: auto !important; 
	} 
}
@media only screen and (max-width: 480px) { 
	.section_9 {
		padding-top: 0;
	} 
}
.section_9 .poster {
	transition: 0.3s; 
}
.section_9 .poster.hide-poster {
	visibility: hidden; opacity: 0; 
}
.section_9 .poster .icon_360 { 
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5; display: flex; 
	align-items: center; 
	justify-content: center; 
	color: #fff; width: 100px; 
	height: 100px; 
	border: 4px solid #00a651; 
	border-radius: 100%; }
	.section_9 .poster .icon_360:before {
		content: '';
		position: absolute;
		bottom: 48%; 
		width: 10px; 
		height: 10px;
		right: -16px; 
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid #00a651;
		transform: translateY(50%);
	}
	.section_9 .poster .icon_360:after {
		content: ''; 
		position: absolute; 
		left: 50%; top: 50%; 
		width: 0px; height: 0px;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 30px solid #fff;
		transform: translate(-50%, -50%);
	}
	@media only screen and (max-width: 480px)
	{ .section_9 .poster .icon_360:after {
		border-top: 15px solid transparent; 
		border-bottom: 15px solid transparent;
		border-left: 20px solid #fff;
	} 
}
@media only screen and (max-width: 480px) { 
	.section_9 .poster .icon_360 {
		width: 80px; height: 80px;
	} 
}
.section_9 .poster h3 { 
	font-family: "UTM AvoBold"; color: #fff;
	font-size: 30px; text-transform: uppercase;
	letter-spacing: 1.7px; margin-bottom: -7px; 
	position: absolute; top: 70px; left: 50%; 
	transform: translateX(-50%); width: 100%;
	text-align: center; z-index: 2; 
}
@media only screen and (max-width: 768px) {
	.section_9 .poster h3 { font-size: 25px; 
	} 
}
@media only screen and (max-width: 480px) {
	.section_9 .poster h3 { font-size: 24px; top: 5px;
	}
}
.section_9 .poster .play_video {
	position: absolute; 
	z-index: 6; top: 50%;
	left: 50%; transform: 
	translate(-50%, -50%); 
	width: 80px;
	transition: 0.3s; cursor: pointer;
}
.section_9 .poster .play_video:hover { 
	transform: translate(-50%, -50%) scale(1.1);
}
@media only screen and (max-width: 480px) {
	.section_9 .poster .play_video {
		width: 50px; height: auto;
	}
}
.section_9 .video {
	visibility: hidden; opacity: 0; padding-top: 0; }
	@media only screen and (max-width: 1024px) {
		.section_9 .video {
			padding: 0; 
		}
	}
	.section_9 .video.active_video {
		visibility: visible; opacity: 1;
	}
	.section_9 .video video {
		object-fit: initial; width: 100%; 
		height: 100%; display: block;
		margin: auto; outline: 0; 
	}
	@media only screen and (max-width: 1024px) { 
		.section_9 .video video { height: auto; 
		} 
	}
