
footer {
	background:  #126338d6;
	opacity: 0.9;
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid   #f5c627; 
}
@media only screen and (max-width: 1024px) {
	footer {
		padding-bottom: 55px;
	} 
}
footer .item-footer {
	width: calc(100% / 3);
	padding: 0px 29px 0px 70px;
	margin: 50px 0px 40px 0px;
	border-right: 1px solid #f5c627;
}
@media only screen and (max-width: 1024px) {
	footer .item-footer {
		width: 100%;
		padding: 10px 30px;
		margin: 10px 0px 10px 0px; 
	} 
}
@media only screen and (max-width: 480px) {
	footer .item-footer {
		width: 100%;
		padding: 10px 15px;
		margin: 0px 0px 0px 0px;
	}
}
footer .item-footer.logo_footer {
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 1024px) {
	footer .item-footer.logo_footer {
		justify-content: center;
	} 
}
footer .item-footer.logo_footer img {
	display: block;
}
footer .item-footer .title-footer {
	font-size: 18px;
	font-family: "UTM TIMES_0";
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 20px;
}
@media only screen and (max-width: 480px) {
	footer .item-footer .title-footer {
		padding-bottom: 15px; 
	}
}
footer .item-footer .lineText {
	display: flex;
	color: #fff; 
}
footer .item-footer .lineText.lineText-bottom {
	margin-top: 23px;
}
footer .item-footer .lineText.lineText-bottom a {
	font-size: 20px;
}
footer .item-footer .lineText.lineText-bottom a .fa {
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	
}
footer .item-footer .lineText p {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	font-family: "OPENSANS-REGULAR";
	line-height: 22px;
	padding-right: 15px;
	margin-bottom: 20px;
	width: 93%; 
}
@media only screen and (max-width: 480px) {
	footer .item-footer .lineText p {
		margin-bottom: 10px;
		line-height: 25px; 
	}
}
footer .item-footer .lineText p.hot_line {
	width: max-content;
	border-bottom: solid 1px #f5c627;
	padding-bottom: 2px;
	padding-right: 0;
}
footer .item-footer .lineText .fa {
	padding-right: 20px;
	padding-top: 5px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top, #efd100 0, #e2a2339c 38%, #f5c627 60%, #fff1a3 86%, #ffe13e 100%);
	width: 7%; 
}
footer .item-footer:nth-of-type(1) {
	text-align: center;
	width: 25%;
	flex-direction: column;
	justify-content: center;
	padding: 0; 

}
footer .item-footer:nth-of-type(1) img {
	width: 240px; 
	margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
	footer .item-footer:nth-of-type(1) {
		width: 100%;
		border-right: none;
	} 
}
@media only screen and (max-width: 480px) {
	footer .item-footer:nth-of-type(1) {
		padding: 10px;
		width: 100%;
		border-right: none;
	}
	footer .item-footer:nth-of-type(1) img {
		width: 55%;
	} 
}
@media only screen and (max-width: 1024px) {
	footer .item-footer:nth-of-type(2) {
		width: 50%;
		border-right: none; 
	} 
}
@media only screen and (max-width: 480px) {
	footer .item-footer:nth-of-type(2) {
		width: 100%; 
	} 
}
footer .item-footer:nth-of-type(3) {
	width: 17%;
	border-right: none;
}
@media only screen and (max-width: 1024px) {
	footer .item-footer:nth-of-type(3) {
		width: 50%;
	} 
}
@media only screen and (max-width: 480px) {
	footer .item-footer:nth-of-type(3) {
		width: 100%;
	} 
}
footer .item-footer:nth-of-type(3) .lineText {
	display: flex;
	color: #fff;
}
footer .item-footer:nth-of-type(3) .lineText p {
	padding-right: 15px;
	margin-bottom: 20px; 
}
@media only screen and (max-width: 480px) {
	footer .item-footer:nth-of-type(3) .lineText p {
		margin-bottom: 10px; 
	}
}
footer .item-footer:nth-of-type(4) {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	font-size: 15px;
	width: 100%;
	text-align: center;
	color: #fff;
	border-top: 1px solid  #f5c627;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px; 
}
.ft-logo{
	font-family: "UTMTIMESBOLD";
	font-size: 48px;
	background-image: -webkit-linear-gradient(top, #a98604 0, #e2a233 38%, #f0c328 60%, #bba31d 86%, #927c12 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}